.modal-content {
    border: 1px solid red;
    width: 200px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

body {
    margin: 0;
    height: 2000px;
}

.modal {
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}